@import "aos/dist/aos.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🧠 Global resets and utility tweaks */
:root {
  /* Add your brand colors here */
  --color-emergency: #27e5fe;
  --color-primary: #62c2ac;
  --color-secondary: #6457a4;
  --color-accent: #fdb712;
  --color-tertiary: #f0127a;
  --color-bg: #fff;
  --color-text: #1f2937;
}

body {
  @apply bg-[var(--color-bg)] text-[var(--color-text)] font-sans antialiased;
}

h1,
h2,
h3,
h4 {
  @apply font-semibold;
}

a {
  @apply no-underline text-[var(--color-text)];
}

@layer utilities {
  .debug-breakpoints::after {
    content: "xs";
  }

  @screen sm {
    .debug-breakpoints::after {
      content: "sm";
    }
  }

  @screen md {
    .debug-breakpoints::after {
      content: "md";
    }
  }

  @screen lg {
    .debug-breakpoints::after {
      content: "lg";
    }
  }

  @screen xl {
    .debug-breakpoints::after {
      content: "xl";
    }
  }

  @screen 2xl {
    .debug-breakpoints::after {
      content: "2xl";
    }
  }

  @screen 3xl {
    .debug-breakpoints::after {
      content: "3xl";
    }
  }
}
