---
import BaseLayout from "../layouts/BaseLayout.astro";
import { About as AboutComponent } from "@/components/About";
---

<BaseLayout
  title="About Young Adult Medicine | Pediatrics & Adolescent Specialists"
  canonical="https://www.youngadultmedicine.com/about/"
>
  <main id="main-content" class="container mx-auto">
    <AboutComponent />
  </main>
</BaseLayout>
