---
import BaseLayout from "../layouts/BaseLayout.astro";
import ServicesIsland from "@/components/ServicesIsland.tsx";
import hello_there from "../assets/hero/hello_there.jpg";

const siteName = import.meta.env.PUBLIC_SITE_TITLE;
const schedulingLink = import.meta.env.PUBLIC_SCHEDULING_LINK;
---

<BaseLayout title="Welcome to Young Adult Medicine">
  <section
    id="hero"
    class="bg-cover bg-center px-4 py-20 text-center text-bg"
    style={`background-image: url(${hello_there.src})`}
  >
    <div class="mx-auto max-w-3xl rounded-md bg-black/50 px-6 py-12">
      <h2 class="mb-4 text-5xl font-extrabold">{siteName}</h2>
      <p class="mb-6 text-lg">
        Compassionate, affirming care for patients from birth–21.<br />
        Telehealth visits available in all of Nevada.
      </p>
      <a
        href={schedulingLink}
        target="_blank"
        class="rounded bg-bg px-6 py-3 font-semibold text-secondary shadow transition hover:text-primary"
      >
        Book an Appointment
      </a>
    </div>
  </section>
  <ServicesIsland client:load />
</BaseLayout>
