---
import family75 from '../assets/marketing/family75.jpg';
const {contactEmail} = Astro.props;
---
 <!-- CONTACT Section -->
  <section id="contact" class="py-16 px-4 bg-gray-100 text-center w-full">
    <div class="flex flex-col md:flex-row items-center justify-center gap-6 max-w-4xl mx-auto text-center">
      <img src={family75.src} alt="Family lifestyle photo, mom and daughter" class="w-48 h-auto mb-4 rounded shadow-md float-center md:float-none" />
      <div>
        <h3 class="text-2xl font-semibold text-secondary mb-2">Get in Touch</h3>
        <h4 class="text-sm text-gray-600 mb-3">
          Telemedicine Visits: 11am–10pm, Monday–Friday
        </h4>
        <p class="text-sm text-gray-600 mb-3">
          Phone: 702-259-1228
        </p>
        <p class="text-sm text-gray-600 mb-3">
          Email:
          <a href={"mailto:" + contactEmail} class="text-secondary font-semibold hover:text-primary hover:no-underline">{contactEmail}</a>
        </p>
      </div>
    </div>
  </section>
