---
import yamLogo from '../assets/logos/optimized_yam.svg';
const siteName = import.meta.env.PUBLIC_SITE_TITLE;
---
<header class="bg-emergency shadow-black-glow z-60">
  <div class="max-w-6xl mx-auto px-4 py-1 sm:py-4 flex flex-col sm:flex-row justify-between items-center gap-y-1 sm:gap-y-4">

    <!-- Left block: Logo + Site Name -->
		<a href="/">
    <div class="flex flex-col items-center sm:flex-row sm:items-center gap-0.5 sm:gap-3">
				<img
					src={yamLogo.src}
					alt="YAM Logo"
					class="w-8 sm:w-20 h-auto"
				/>
				<h1 class="text-darkblue text-md sm:text-2xl font-semibold text-center sm:text-left leading-tight">
					{siteName}
				</h1>
			</div>
		</a>

    <!-- Right block: Social + Nav -->
    <div class="flex flex-col items-center sm:items-end gap-0.5 sm:gap-1">
      <!-- <SocialIconsOnly bgColor={bgColor} iconColor={iconColor} /> -->
      <nav class="flex space-x-2 sm:space-x-4 text-xs sm:text-base">
        <a href="/" class="text-secondary font-semibold hover:text-primary hover:no-underline">Home</a>
				<a href="/forms" class="text-secondary font-semibold hover:text-primary hover:no-underline">Forms</a>
        <a href="/contact" class="text-secondary font-semibold hover:text-primary">Contact</a>
      </nav>
    </div>

  </div>
</header>
