---
import QRCode from "./QRCode.tsx";
const { label = "Scan to visit our site:" } = Astro.props;
---

<div class="mt-4 flex w-full flex-col items-center text-center">
  <p class="mb-2">{label}</p>
  <div class="mt-1">
    <div class="mx-auto">
      <QRCode />
    </div>
  </div>
</div>
