---
import "../styles/global.css";
import NavBar from '../components/NavBar.astro';
import SocialIcons from '../components/SocialIcons.astro';
import TebraWidget from '../components/TebraWidget.astro';
const title = import.meta.env.PUBLIC_SITE_TITLE;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="font-sans bg-bg text-text">

    <!-- Main Content -->
    <main>
      <NavBar />
      <slot />
      <TebraWidget />
      <SocialIcons />
    </main>

    <!-- Footer -->
    <footer class="py-4 mt-0 text-white bg-secondary">
      <div class="max-w-6xl px-4 mx-auto text-sm text-center">
        © {new Date().getFullYear()} Young Adult Medicine, PLLC
      </div>
    </footer>
  </body>
</html>
